@font-face {
    font-family: press-start;
    src: url('./res/PressStart2P-Regular.ttf');
}

body {
    background-image: url('./res/farmland.png');
    background-repeat: repeat;

    text-shadow: 3px 3px 2px black;
    text-align: center;
    color: white;
    font-family: press-start;
    font-size: 14px;
}

canvas {
    border: solid;
    border-color: green;
    border-style: ridge;
}

.logo {
    font-size: 32px;
}